body {
	width: 0px;
	height: 0px;
	margin: 0px;
	padding: 0px;
	background-color: #efefef;
	font-size: 100%;
	color: #222;
	font-weight: 300;
}


/* COMMON CLASSES */

.fullWidth {
	width: 100%;
	box-sizing: border-box;
}
